[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 10.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 10.0
